antspyx==0.4.2 --only-binary=antspyx
git+https://github.com/ravnoor/atlasreader@master#egg=atlasreader
Theano==1.0.4
keras==2.2.4
h5py==2.10.0
matplotlib==3.5.1
mo-dots==9.147.22086
nibabel==3.2.2
nilearn==0.9.1
numpy==1.21.6
pandas==1.3.5
psutil==5.9.2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
setproctitle==1.2.3
tabulate==0.9.0
tqdm==4.64.1
xlrd==2.0.1